* {
    margin: 0;
    padding: 0;
}

.box {
    background-color: lightblue;
    height: 240px;
    width: 240px;
    position: absolute;
}

.box-container {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.box-2 {
    top: 0;
    right: 0;
}

.box-3 {
    top: 260px;
}

.box-4 {
    top: 260px;
    left: 260px;
}