.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color:hsl(0, 0%, 95%);
    font-size: 15px;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sedans, .SUVs, .Luxury{
    width: 200px;
    height: 300px;
    color: white;
    padding: 30px;
}
.Sedans {
    background-color:hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
}
.SUVs {
    background-color:hsl(184, 100%, 22%);
}

.Luxury {
    background-color:hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px; 
}


button {
    border-radius: 30px;
    padding: 10px;
    border: none;
    width: 100px;
}

.Sedans button {
    color: hsl(31, 77%, 52%);
}

.SUVs button{
    color:hsl(184, 100%, 22%)
}

.Luxury button{
    color:hsl(179, 100%, 13%)
}